*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*SUPERIOR DO SITE*/
nav{
    width: 100%;
    display: inline-block;
    background-color: #0487FF;  
}

nav ,.space, .logo, .text, .menu{
    display: inline-block;
    vertical-align: middle;
}

nav .space{
    width: 40%;
}

nav .logo {
    margin-right: 6vw; 
}

nav .logo img{
    width: 20vw; 
}

nav .text a{
    font-size: 2vw;
    color: white;   
    cursor: pointer;
    text-decoration: none;
}

nav .menu {
    position: absolute;
    right: 6vw;
    top: 2vw; 
}
nav .menu img{
    width: 3vw;
    cursor: pointer;
}
nav .menu:hover >.nav-lateral {
    display: block;
    position: absolute;
    z-index: 2;
   
}

.nav-lateral{
    background-color: #0487FFF0;
    width: 29vw;
    margin-left: -20vw;
    height: 100vh;
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.nav-lateral .top .button-1{
    margin: 6vw 5vw 0vw 5vw;
    padding: 1vw;
    background-color: #00FF38;
}
.nav-lateral .top .button-1 a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.8vw;
}

.nav-lateral .top .button-2{
    margin: 2vw 5vw 0vw 5vw;
    padding: 1vw;
    background-color: red;
}
.nav-lateral .top .button-2 a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.8vw;
}

.nav-lateral .bottom{
    margin: 13vw 0vw 0vw 0vw;
 
}

.nav-lateral .bottom .button-2{
    margin: 0vw 5vw 2vw 5vw;
    padding: 1vw;
    border: 3px solid #030166;
    
}


.nav-lateral .bottom .button-2 a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.8vw;
    
}
/*SUPERIOR DO SITE*/



/*SERVIÇOS DO SITE*/

.row{
    
    padding: 0 4px;
    z-index: 2;
}
section{
    width: 100%;  
    margin:auto;
    display:flex;
    justify-content: space-around;
    text-align: center;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
}


section .services-1{
    cursor: pointer;
    transition-duration: 1s;
    
}
section .services-1:hover{
    transform: scale(1.3);
    transition-duration: 1s;
}
section .services-2{
    cursor: pointer;
    transition-duration: 1s;
}
section .services-2:hover{
    transform: scale(1.3);
    transition-duration: 1s;
}
section .services-3{
    cursor: pointer;
    transition-duration: 1s;
}
section .services-3:hover{
    transform: scale(1.3);
    transition-duration: 1s;
}
section .services-4{
    cursor: pointer;
    transition-duration: 1s;
}
section .services-4:hover{
    transform: scale(1.3);
    transition-duration: 1s;
}
section .services-5{
    cursor: pointer;
    transition-duration: 1s;
}
section .services-5:hover{
    transform: scale(1.3);
    transition-duration: 1s;
}

section .services-1 > img{
    width: 10vw;
    height: 10vw;
}
section .services-1 > p{
    margin-top: 1px;
    font-size: 2vw;
    font-weight: bold;

}
section .services-2 > img{
    width: 10vw;
    height: 10vw;
}
section .services-2 > p{
    margin-top: 1px;
    font-size: 2vw;
    font-weight: bold;

}
section .services-3 > img{
    width: 10vw;
    height: 10vw;
}
section .services-3 > p{
    margin-top: 1px;
    font-size: 2vw;
    font-weight: bold;

}
section .services-4 > img{
    width: 10vw;
    height: 10vw;
}
section .services-4 > p{
    margin-top: 1px;
    font-size: 2vw;
    font-weight: bold;

}
section .services-5 > img{
    width: 10vw;
    height: 10vw;
}
section .services-5 > p{
    margin-top: 1px;
    font-size: 2vw;
    font-weight: bold;

}

/*SERVIÇOS DO SITE*/




/*BANNER DO SITE*/

main{
    display: flex;
    justify-content: space-between;

}

main .banner{
    margin-top: 3px;
    background-color: #D6D6D6;
    display: flex;
    justify-content: space-around;
    
}

main .banner >.left,.right{
    align-self: center;
    text-align: center;
    
}

main .banner .left{
    padding: 7vw;     
}

main .banner .left h1{
    font-size: 2vw; 
    margin-bottom: 2vw; 
}

main .banner .left p{
    font-size: 1.3vw; 
    margin-bottom: -3vw;
    margin-top: 3vw;
}

main .banner .right {
    padding-right: 3vw;
}

main .banner .right img{
    width: 36vw;
}

/*BANNER DO SITE*/




/*FOOTER DO SITE*/
footer{
    background: #160023;
    color: #ffff;
    display: flex;
    justify-content: flex-start;
    padding: 2vw;

}

footer .slider{
    display: flex;
    justify-content: flex-start;
    

}

footer .slider .left{
    margin-right: 2vw;

}
footer .slider .left img{
    width: 12vw;

}


footer .slider .right{
    text-align: left;
    padding-left: 2vw;

}


footer .slider .right h3{
    font-size: 2.1vw;
    margin-bottom: 1vw;

}

footer .slider .right p{
    font-size: 1.3vw;
    font-weight: lighter;
    width: 90%;

}

/*FOOTER DO SITE*/


/*
 _        ___     ____   ___   _   _ 
| |      / _ \   / ___| |_ _| | \ | |
| |     | | | | | |  _   | |  |  \| |
| |___  | |_| | | |_| |  | |  | |\  |
|_____|  \___/   \____| |___| |_| \_|
*/                     

.login{

    height: 100vh;
    background-color: #D6D6D6;

    padding-left: 39.5%;
}


.login h2{
    padding: 3vw;
    font-size: 2vw;
   
}
#loginForm{
    width: 40%;
}
#loginForm > label{
    font-size: 1.5vw;

}
#loginForm > a{
    text-decoration: none;
    color: black;

}
#loginForm > p >a{
    text-decoration: none;
    color: black;

}
#loginForm .button-login{
    text-align: center;

}
#loginForm .button-login  > input{
    margin-top: 2vw;
    background-color: #00FF38;
    padding: 1vw 8vw 1vw 8vw;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;

}

#loginForm > input{
    font-size: 1vw;
    padding: 1.3vw 10vw 1.3vw 1vw;
}


/*CADASTRO*/


.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.container input{
    border-radius: 3vw;
    padding: 0.8vw 10vw 0.8vw 2vw;
    border: 1px solid #0487FF;
    margin: 1vw 1vw;
}
.container select{
    border-radius: 3vw;
    padding: 0.8vw 2vw 0.8vw 2vw;
    border: 1px solid #0487FF;
}
.coluna {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

button {
    display: block;
    margin: 20px auto;
    padding: 1.5vw 13vw 1.5vw 13vw;
    background-color: #91b499;
    text-align: center;
    border-radius: 3vw;
    border: none;
    color: white;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}




    /*PRESTAR SERVIÇOS*/

    /* Estilos para formatar o formulário */

    .prestar-body{
        background-color: #D6D6D6;
    }
    .form-container.prestar {
        display: flex;
        justify-content: space-between;
    }
    .column.prestar {
        width: 45%;
    }
    .form-group.prestar {
        margin-bottom: 1.5vw;
    }
    .form-group.prestar label {
        display: block;
        font-size: 1.7vw;
    }
    .form-group.prestar input, .form-group.prestar textarea {
        width: 100%;
        padding: 1.8vw 1vw 1.8vw 2vw;
    }
    .button-container.prestar {
        text-align: center;
        

    }
    .button-container.prestar button {
        padding: 1vw 3vw 1vw 3vw;
        font-size: 2vw;
        border-radius: 1px;
        background-color: #00FF38;
        color: #000000;
        margin-top: -2vw;
        border: 1px solid black;
        
    }
    .form-container{
        padding: 5vw;

    }

    .atendimento{
        display: flex;
        flex-direction: column;
       
    }
    .atendimento .atendimento-opcao {
        display: flex;
        align-items: center;
        margin: 0.9vw;
        
    }

    .atendimento-opcao span{
        width: 4vw;
        min-width: 4vw;
        font-size: 1.1vw;
    }

    .atendimento .hora{
        font-size: 1vw;
    }
    .atendimento .atendimento-opcao .hora{
        padding: 0.7vw 1.1vw 0.7vw 1.1vw;
        border-radius: 1vw;
        border: none;
        
    }

    .atendimento-opcao label {
        margin-right: 1vw; 
    }

    .atendimento-opcao div {
        margin-left: 1vw;
    }
    
    /*INICIO-PRESTAR-SERVIÇO*/
    .radio-button {
        display: none; /* Esconde o botão de rádio padrão */
    }

    .custom-radio {
        display: block;
        cursor: pointer;
        padding: 1vw 1vw 1vw 1vw;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid;
        font-size:1.4vw;
        width: 40%;
    }

    .button-prestar{
        margin: 4vw 0vw 0vw 0vw;
        background-color: #00FF38;
        padding: 1vw 8vw 1vw 8vw;
        font-size: 2vw;
        font-weight: bold;
        border: 1px solid #000000;
        cursor: pointer;
        border-radius: 0;
        color: #000000;
    
    }


    /*INICIO-PRESTAR-SERVIÇO*/

    
    /*BARBEIRO*/

    .text-profile{
        flex-direction: column;
        text-align: center;
        padding: 2.5vw;
    }
    .profile-box {
        display: flex;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 30vw; /* Largura máxima da caixa */
        background: white;
        
    }
    
    .profissional{
        background: #D6D6D6;
    }

    .box{
        display: flex;
        justify-content: center;
    }
    .profile-picture {
        width: 7vw;
        height: 10vw;
        margin-right: 1.5vw;
        margin-top: 0vw;
    }
    .profile-info {
        flex: 1;
    }
    .profile-info h2 {
        margin: 0;
        
    }
    .profile-info p {
        margin: 1vw 0vw 1vw 0vw;
    }
    .button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
   
    }
    .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    }
    header .icons{
    display: flex;
    }
    header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
    }
    .icons span:last-child{
    margin-right: -10px;
    }
    header .icons span:hover{
    background: #f2f2f2;
    }
    header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
    }
    .calendar{
    padding: 20px;
    }
    .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    }
    .calendar .days{
    margin-bottom: 20px;
    }
    .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
    }
    .calendar .weeks li{
    font-weight: 500;
    cursor: default;
    }
    .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    }
    .days li.inactive{
    color: #aaa;
    }
    .days li.active{
    color: #fff;
    }
    .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    }
    .days li.active::before{
    background: #9B59B6;
    }
    .days li:not(.active):hover::before{
    background: #f2f2f2;
    }

    /*BARBEIRO*/

    .container.barbeiro-1 {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    .column.barbeiro-1 {
        flex: 1;
        padding: 20px;
        border: 1px solid #ccc;
    }
    .column.barbeiro-1 h2 {
        margin-top: 0;
    }
    .calendar.barbeiro-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .calendar.barbeiro-1 label {
        font-weight: bold;
    }
    .agendar-profissional{
        background-color: #00FF38;
        border-radius: 0px;
        color: black;
        font-size: 2vw;
        border: 1px solid black;
        z-index: 11;
    }


    /*Senha*/

    .senha{
        background:#D6D6D6;
        padding: 3vw;
        height: 100vh;
    }
    .senha > p{
        font-size: 2vw;
        margin-top: 5vw;
    }
    .senha > input{
        font-size: 2vw;
        margin-top: 2vw;
        padding: 1vw 1vw 1vw 1vw ;
        width: 100%;
        border: none;
    }
    .senha > .button-senha{
        font-size: 2vw;
        padding: 10vw 1vw 1vw 1vw ;
        
    }
    .senha >.button-senha > input{
        font-size: 2vw;
        padding: 1vw 6vw 1vw 6vw ;
        background-color: #00FF38;
        border: 1px solid black;
        cursor: pointer;
        
    }


     /*Como Funciona */

    
     .cor-pagina {
        background: #D6D6D6;
    
    }
    .como-funciona {
        padding: 2vw 8vw 5vw 8vw;
        text-align: center;
    }
    .como-funciona h2{
        font-size: 2.5vw;
        margin-top: 3%;
    }
    .como-funciona p{
        font-size: 2vw;
        margin-top: 4%;
        text-align: justify;
        
    }
    footer .slider-funciona{    
        text-align: center;
        padding: 3vw 9vw 3vw 9vw;
    }
    footer .slider-funciona2{       
        text-align: center;
        padding: 3vw 9vw 3vw 9vw;
        
    }
    .doc-laranja{
        align-items: center;
    }
    .usuario{
        align-items: center;
    }
    .doc-laranja p{
        font-size: 1.5vw;
        text-align: justify;
    }
    .usuario p {
        font-size: 1.5vw;
        text-align: justify;
    }

    /*POPUP*/
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
       
    }
    .popup p{
        font-size: 1.7vw;
        padding: 1vw;
        color: white;
        margin: 1vw 1vw 4vw 1vw;
    }

    .popup-content {
        background-color: #200857;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .agendarpopup{
        background-color: #00FF38;
        color: black;
        border-radius: 0%;
        font-size: 2vw;
    }

    .fecharPopup{
        background-color: red;
        color: black;
        border-radius: 0%;
        font-size: 2vw;
    }

     /*POPUP-SERVIÇOS*/
     .popup-servico {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
       
    }
    .popup-servico p{
        font-size: 1.7vw;
        padding: 1vw;
        color: black;
        margin: 1vw 1vw 0.2vw 1vw;
    }

    .popup-content-servico  {
        background-color: #D6D6D6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .agendarpopup{
        background-color: red;
        color: black;
        border-radius: 0%;
        font-size: 2vw;
    }

    .fecharPopup{
        background-color: #D6D6D6;
        border: 1px solid black;
        color: black;
        border-radius: 0%;
        font-size: 2vw;
    }


@media (max-width: 720px) {
    nav .logo img{
        width: 30vw; 
    }

    nav .logo {
        margin-right: 6vw; 
    }
    nav .menu img{
        width: 5vw;
        cursor: pointer;
    }

    nav .space{
        width: 3%;
    }

    nav .text p{
        font-size: 3vw;

    }
    section{
        flex-wrap: wrap;
    }
    section .services-1 img{
        width: 30vw;
        height: 30vw;
   
    }
    section .services-2 img{
        width: 30vw;
        height: 30vw;
   
    }
    section .services-3 img{
        width: 28vw;
        height: 30vw;
   
    }
    section .services-4 img{
        width: 30vw;
        height: 30vw;
   
    }
    section .services-5 img{
        width: 30vw;
        height: 30vw;
   
    }
    section .services-1 p{
        font-size: 5vw;
   
    }
    section .services-2 p{
        font-size: 5vw;
   
    }
    section .services-3 p{
        font-size: 5vw;
   
    }
    section .services-4 p{
        font-size: 5vw;
   
    }
    section .services-5 p{
        font-size: 5vw;
   
    }
    section .services-1{
        float: left;
        width: 50%;
        margin-bottom: 10vw;
    }

    section .services-2{
        float: right;
        width: 50%;
       
    }
    section .services-3{
        float: left;
        width: 50%;
    }
    section .services-4{
        float: right;
        width: 50%;
        
    }
    section .services-5{
        margin-top: 3vw;
        
    }

    main{
        flex-direction: column;
    }

    main .banner{
 
        flex-direction: column;
        
    }

    main .banner .left h1{
        font-size: 5vw; 

    }

    main .banner .left p{
        font-size: 4vw; 

    }
    footer .slider .right h3{
        font-size: 3vw;
        margin-bottom: 1vw;
    
    }
    
    footer .slider .right p{
        font-size: 2.5vw;
        font-weight: lighter;
        width: 90%;
    
    }

    .nav-lateral{
        background-color: #0487FFF0;
        width: 100vw;
        margin-top: 3vw;
        margin-left: -89vw;
        height: 50vh;
        display: none;
        position: absolute;
        text-align: center;
        z-index: 1;
    }

    .nav-lateral .top .button-1{
        margin: 6vw 30vw 0vw 30vw;
        padding: 1vw;
        background-color: #00FF38;
    }
    .nav-lateral .top .button-1 a{
        text-decoration: none;
        color: #FFF;
        font-size: 4.5vw;
    }

    .nav-lateral .top .button-2{
        margin: 6vw 30vw 0vw 30vw;
        padding: 1vw;
        background-color: red;
    }
    .nav-lateral .top .button-2 a{
        text-decoration: none;
        color: #FFF;
        font-size: 4.5vw;
    }
    
    .nav-lateral .bottom .button-2{
        margin: 2vw 30vw 0vw 30vw;
        padding: 1vw;
        border: 3px solid #030166;
        
    }
    
    
    .nav-lateral .bottom .button-2 a{
        text-decoration: none;
        color: #FFF;
        font-size: 4.5vw;
        
    }

    
    
  
   
   

    
}






